{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="header">
        <div class="logo-container">
            <div class="logo-circle">
                <div class="logo-letter">PY</div>
            </div>
            <p class="logo-text">Academia</p>
        </div>
        <p class="login"><a href="">Войти</a></p>
    </div>
    <div class="container-block">
        <div class="main-block">
            <div class="div-main-background-image">
            </div>
        </div>
        <div class="block-on-block">
            <div class="content">
                <div class="content-box" id="main">
                    <p class="welcome-text">Добро пожаловать <br/>на онлайн-платформу PyAcademia!</p>
                    <p class="description">Мы предлагаем:<br/>
                        интерактивные учебный материал, <br/>
                        практические задания и проекты, <br/>
                        обратную связь по выполненным заданиям,<br/>
                        форум с другими участниками сообщества,<br/><br/>
                        которые помогут освоить основы языка и развить свои навыки программирования.
                    </p>
                    <p class="join-text">Присоединяйтесь к нашему сообществу и начните свой путь к освоению языка Python
                        прямо сейчас!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
